.title {
	text-align:center;
		color:blueviolet;
}

.content {
	text-align:center;
	background: lightblue;
	background-size: cover;
}

.anitext {
	text-align: center;
}

.image {
	position: absolute;
		bottom:0px;
		right:500px;
	size: height: 25%; width: 25%;
}
