.title {
	text-align:center;
		color:blueviolet;
}

.content {
	text-align:center;
	background-color:lightyellow;
}

@keyframes animation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
