
.titles {
	text-align: center;
}

.text {
	text-align: center;
}

.textcontainer {
  background-color: slateblue;
  position: fixed;
  top: 10px;
  right: 625px;
  z-index: 1;
  max-width: 500px;
}

.nav {
  max-width: 165px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: slateblue;
  overflow-x: hidden;
  padding: 8px 5px;
}

.mainbg {
	background-image: url("file:///C:/Users/siobh/OneDrive/Documents/GitHub/pamp0009.github.io/lib2024/qa/mainbg.gif");
  background-size: cover;
  background-repeat: repeat-x, repeat-y;
  height: 100%
}

.mainimg {
  width: 48%;
  height: 48%;
  position: fixed;
  top: 10px;
  right: 0px;
}

.scriptpos {
  background-color: slateblue;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  max-width: 500px;
}